@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <h2 class="my-4 text-center">Produtos</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <table class="table">
                <tr>
                    <!-- Alinhando a imagem no centro vertical -->
                    <td class="align-middle">
                        <img class="card-img-top w-50" src="~/images/ham.jpeg" alt="Imagem do @item.Name">
                    </td>

                    <!-- Alinhando os detalhes no centro vertical -->
                    <td class="align-middle w-50">
                        <div>
                            <a asp-controller="Ingredients" asp-action="AddIngredients" asp-route-id="@item.Id" class="btn btn-link text-decoration-none">
                                <h5 class="card-title text-uppercase font-weight-bold fs-5">@item.Name</h5>
                            </a>
                        </div>
                        <div>
                            <ul class="list-inline p-2">
                                @foreach (var item2 in item.Ingredients)
                                {
                                    <li class="list-inline-item badge badge-dark text-dark" data-tooltip="Clique para editar a lista de abaixo">@item2</li>
                                }
                            </ul>
                        </div>
                      
                    </td>

                    <!-- Alinhando o preço no centro vertical -->
                    <td class="align-middle pricing">
                        <span class="text-muted font-weight-bold border-2">R$ @item.Price.ToString("F2")</span>
                    </td>

                    <td class="align-middle">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    </td>
                    <td class="align-middle">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>