@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-5">
    <h2 class="my-4 text-center">Cardápio</h2>

    <a href="#food" class="btn btn-info">Hamburguer</a>
    <a href="#drinks" class="btn btn-info">Bebidas</a>
    <a href="#dessert" class="btn btn-info">Sobremessas</a>

    <div class="row">
        <h3>Hamburguer</h3>
        @foreach (var item in Model)
        {
            @if (item.Category == Mvc.Models.Enums.EnumCategoryProducts.Food)
            {
            <table class="table" id="food">
                <tr>
                    <!-- Alinhando a imagem no centro vertical -->
                    <td class="align-middle">
                        <img class="card-img-top w-50" src="@item.Image" alt="Imagem do @item.Name">
                    </td>

                    <!-- Alinhando os detalhes no centro vertical -->
                    <td class="align-middle w-50">
                        <div>
                            <h5 class="card-title text-uppercase font-weight-bold fs-5">@item.Name</h5>
                        </div>
                        <div>
                            <ul class="list-inline p-2">
                                @foreach (var item2 in item.Ingredients)
                                {
                                    <li class="list-inline-item badge badge-light">@item2</li>
                                }
                            </ul>
                        </div>
                        <form asp-controller="Purchase" asp-action="AddToCart" method="post">
                            <input type="hidden" name="ProductId" value="@item.Id" />
                            <input type="hidden" name="amount" value="1" />
                            <button type="submit" class="btn btn-primary"> Adicionar </button>
                        </form>
                    </td>

                    <td class="align-middle pricing">
                            <div class="d-flex align-items-end" style="margin-top: 90%; width: 120px;">
                            <span class="btn btn-primary text-dark font-weight-bold border-2">R$ @item.Price.ToString("F2")</span>
                        </div>
                    </td>
                </tr>
            </table>
            }
        }

        <h3>Bebidas</h3>
        @foreach (var item in Model)
        {
            @if (item.Category == Mvc.Models.Enums.EnumCategoryProducts.Drink)
            {
                <table class="table" id="drinks">
                    <tr>
                        <td class="align-middle">
                            <img class="card-img-top w-50" src="@item.Image" alt="Imagem do @item.Name">
                        </td>

                        <td class="align-middle w-50">
                            <div>
                                <h5 class="card-title text-uppercase font-weight-bold fs-5">@item.Name</h5>
                            </div>
                            <div>
                                <ul class="list-inline p-2">
                                    @foreach (var item2 in item.Ingredients)
                                    {
                                        <li class="list-inline-item badge badge-light">@item2</li>
                                    }
                                </ul>
                            </div>
                            <form asp-controller="Purchase" asp-action="AddToCart" method="post">
                                <input type="hidden" name="ProductId" value="@item.Id" />
                                <input type="hidden" name="amount" value="1" />
                                <button type="submit" class="btn btn-primary"> Adicionar </button>
                            </form>
                        </td>

                        <td class="align-middle pricing">
                            <div class="d-flex align-items-end" style="margin-top: 90%; width: 120px;">
                                <span class="btn btn-primary text-dark font-weight-bold border-2">R$ @item.Price.ToString("F2")</span>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        }

        <h3>Sobremessas</h3>
        @foreach (var item in Model)
        {
            @if (item.Category == Mvc.Models.Enums.EnumCategoryProducts.Dessert)
            {
                <table class="table" id="dessert">
                    <tr>
                        <td class="align-middle">
                            <img class="card-img-top w-50" src="@item.Image" alt="Imagem do @item.Name">
                        </td>

                        <td class="align-middle w-50">
                            <div>
                                <h5 class="card-title text-uppercase font-weight-bold fs-5">@item.Name</h5>
                            </div>
                            <div>
                                <ul class="list-inline p-2">
                                    @foreach (var item2 in item.Ingredients)
                                    {
                                        <li class="list-inline-item badge badge-light">@item2</li>
                                    }
                                </ul>
                            </div>
                            <form asp-controller="Purchase" asp-action="AddToCart" method="post">
                                <input type="hidden" name="ProductId" value="@item.Id" />
                                <input type="hidden" name="amount" value="1" />
                                <button type="submit" class="btn btn-primary"> Adicionar </button>
                            </form>
                        </td>

                        <td class="align-middle pricing">
                            <div class="d-flex align-items-end" style="margin-top: 90%; width: 120px;">
                                <span class="btn btn-primary text-dark font-weight-bold border-2">R$ @item.Price.ToString("F2")</span>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        }

    </div>
</div>

